#bg {
    background-color: rgb(0, 0, 0); 
    height: 2px;
    border-radius: 5px;
}


span {
    color: #08da8d;
}

/* En brik */
.mark {
    width: calc(40vw/4);
    height: calc(40vw/4);
    
    margin-top: calc((40vw/4)/6);
    margin-left: calc((40vw/4)/6);

    background-color: #555;
}

/* brikkens stil på mobil / touch devices */
.mark-mobile {
    width: calc(70vw/4);
    height: calc(70vw/4);
    
    margin-top: calc((70vw/4)/6);
    margin-left: calc((70vw/4)/6);

    background-color: #555;
}

/* i tilfælde af at brikken skal være en cirkel */
.circle {
    border-radius: 50%;
}


/* Farven til egne brikker */
.me {
    background-color:#08da8d;
}


/* Farven til brikker der KAN fjernes */
.remove {
    background-color:#e04747;
}

/* Tja, det giver vel lidt sig selv */
.center {
    text-align: center;
}

/* Lidt stil til div elementet som holder på knapperne */
.players {
    width: 100%;
    height: 100px;
    text-align: center;
}


/* Lidt stil til knapperne */
.players>button {
    margin: 10px;
}

/* Stil til felterne på computer */
.fields {
    border-style: solid;
    /* border-color: rgba(255, 255, 255, 0.288); */
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    height: calc(40vw/3);
}


/* Stil til felterne på mobil / touch devices */
.fields-mobile {
    border-style: solid;
    /* border-color: rgba(255, 255, 255, 0.288); */
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    height: calc(70vw/3);
}


/* Når musen er over felterne. Bliver kun brugt på computer versionen */
.fields-hover {
    background-color: rgba(255, 255, 255, 0.116);
}